# dependencies
/node_modules
/api/node_modules

# env files
.env
.env.*
!.env.example
api/.env

# misc
.DS_Store
*.pem
npm-debug.log*

# typescript
*.tsbuildinfo

# uploads
/uploads/
/api/uploads/

# keep dist/ committed for Plesk deployment
